<div id="animation">

    <!-- Start photoslider-mini -->
    <div class="sliderkit photoslider-mini moveDiv" style="display: block;">
        <div class="sliderkit-panels">
            <!-- <div class="sliderkit-btn sliderkit-go-btn sliderkit-go-prev"><a href="#" title="Previous"><span>Previous</span></a></div>
            <div class="sliderkit-btn sliderkit-go-btn sliderkit-go-next"><a href="#" title="Next"><span>Next</span></a></div> -->

            <div class="sliderkit-panel sliderkit-panel-active" style="display: block;">
                <img alt="" src="images/slide1.jpg">
            </div>
            <div class="sliderkit-panel sliderkit-panel-old" style="display: block;">
                <img alt="" src="images/slide2.jpg">
            </div>
        </div>
    </div>
    <!-- // end of photoslider-mini -->

</div>