<div id="content-left"><!-- Left Start -->

    <div id="block-filters">

        <h1>Filters</h1>

        <form action="" method="post">
            <ul>
                <li>
                    <label class="label">
                        {#<select class="select">
                            <option selected=""> Start Airport:</option>
                            <option>Short Option</option>
                            <option>This Is A Longer Option</option>
                        </select>#}
                        <input type="text" id="startAirport-filter" name="startAirport-filter" placeholder="Start Airport" />
                    </label>
                </li>
                <li>
                    <label class="label">
                        <select class="select">
                            <option selected=""> Start Airport:</option>
                            <option>Short Option</option>
                            <option>This Is A Longer Option</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label class="label">
                        <select class="select">
                            <option selected=""> Airlines:</option>
                            <option>Short Option</option>
                            <option>This Is A Longer Option</option>
                        </select>
                    </label>
                </li>
                <li><input type="text" readonly="" class="input-inner hasDatepicker" value="Travel Date" id="date"><img class="ui-datepicker-trigger" src="{{ asset('images/calendar.gif') }}" alt="..." title="..."></li>
                <li><input type="submit" value="Apply Filters" class="btn"><!-- <input type="image" src="{{ asset('images/btn-search-inner.png') }}" name="search" title="Search"> --></li>
            </ul>
        </form>
    </div>



    <!-- Left End --></div>
