<div id="footer"><!-- Footer -->
    <div id="footer-left">
        <strong>Traveller Guy is a Service Mark Travel with an Insider is a Service Mark of Traveller Guy.
            Discover huge discounts and fun activities in your city.</strong><br>
        Use of this website constitutes acceptance of Traveler Guy's Terms &amp; Conditions.
<span>
	<ul>
        <li>Follow Us on:</li>
        <li><a href="#"><img width="33" height="33" alt="" src="{{ asset('images/icon-facebook.png') }}"></a></li>
        <li><a href="#"><img width="34" height="33" alt="" src="{{ asset('images/icon-twitter.png') }}"></a></li>
        <li><a href="#"><img width="33" height="33" alt="" src="{{ asset('images/icon-linkedin.png') }}"></a></li>
    </ul>
</span>
    </div>
    <div id="footer-right">
		<span>
			<ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
		</span>
		<span>
			<ul>
                <li><a href="#">Plans</a></li>
                <li><a href="#">Partner</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
		</span>

        <p>&copy; 2015 Travellers Guy. All rights reserved</p>
    </div>
    <!-- Footer End --></div>
    <div id="delta">
        Designed &amp; Developed by <a target="_blank" href="http://www.deltacreation.com.np">Delta Creation</a>.
    </div>

{% block javascript %}

{% endblock %}