<div id="block-partner">

    <!-- Start tabs-standard -->
    <div class="sliderkit tabs-noheight" style="display: block;">
        <div class="sliderkit-nav">
            <div class="sliderkit-nav-clip">
                <ul>
                    <li class="sliderkit-selected"><img width="23" alt="" src="images/icon-plane.png"><a title="Flight Partner" href="javascript:void();">Flight Partner</a></li>
                    <li><img width="23" alt="" src="images/icon-bus.png"><a title="Road Partner" href="javascript:void();">Road Partner</a></li>
                </ul>
            </div>
        </div>
        <div class="sliderkit-panels">



            <div class="sliderkit-panel sliderkit-panel-active" style="display: block;"><!-- tab -->
                <div class="sliderkit-news">

                    <form action="search-result.php" method="post">
                        <ul>
                            <li class="topmargin">
                                <label>
                                    <select class="select">
                                        <option selected=""> Start Airport:</option>
                                        <option>Short Option</option>
                                        <option>This Is A Longer Option</option>
                                    </select>
                                </label>
                            </li>
                            <li class="topmargin">
                                <label>
                                    <select class="select">
                                        <option selected=""> Start Airport:</option>
                                        <option>Short Option</option>
                                        <option>This Is A Longer Option</option>
                                    </select>
                                </label>
                            </li>
                            <li class="topmargin"><input type="text" readonly="" class="input hasDatepicker" value="Travel Date" id="date1"><img class="ui-datepicker-trigger" src="images/calendar.gif" alt="..." title="..."></li>
                            <li class="search-btn"><input type="image" title="Search" name="search" src="images/btn-search.png"></li>
                        </ul>
                    </form>

                </div>
                <!-- tab end --></div>

            <div class="sliderkit-panel" style="display: none;"><!-- tab -->
                <div class="sliderkit-news">

                    <ul>
                        <li class="topmargin">
                            <label class="label">
                                <select class="select">
                                    <option selected=""> Start Road:</option>
                                    <option>Short Option</option>
                                    <option>This Is A Longer Option</option>
                                </select>
                            </label>
                        </li>
                        <li class="topmargin">
                            <label class="label">
                                <select class="select">
                                    <option selected=""> Start Road:</option>
                                    <option>Short Option</option>
                                    <option>This Is A Longer Option</option>
                                </select>
                            </label>
                        </li>
                        <li class="topmargin"><input type="text" readonly="" class="input hasDatepicker" value="Travel Date" id="date"><img class="ui-datepicker-trigger" src="images/calendar.gif" alt="..." title="..."></li>
                        <li class="search-btn"><input type="image" title="Search" name="search" src="images/btn-search.png"></li>
                    </ul>

                </div>
                <!-- tab end --></div>

        </div>
    </div>
    <!-- // end of tabs-standard -->


</div>